doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        //- Nhúng Bootstrap 5 để giao diện tự động đẹp
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")

    body
        //- Nhúng Header
        include ../partials/header.pug

        //- Thẻ main chứa nội dung chính, container giúp căn giữa màn hình
        main.container.mt-4.mb-5
            block main

        //- Nhúng Footer
        include ../partials/footer.pug