footer.bg-dark.text-light.pt-5.pb-3.mt-auto
    div.container
        div.row.g-4
            div.col-lg-4.col-md-6
                h5.text-uppercase.fw-bold.text-primary.mb-3 🚀 36Store
                p Đồng hành cùng bạn trên con đường chinh phục công nghệ. Sản phẩm chính hãng, bảo hành trọn đời.
                p.mb-1 📍 Trụ sở: 123 Đường Công Nghệ, Hà Nội
                p.mb-1 📞 Hotline: 1900 8888
                p.mb-0 📧 Email: cskh@36tech.vn

            div.col-lg-2.col-md-6
                h5.text-uppercase.fw-bold.mb-3 Về 36Store
                ul.list-unstyled
                    li.mb-2: a.text-light.text-decoration-none.footer-link(href="#") Giới thiệu
                    li.mb-2: a.text-light.text-decoration-none.footer-link(href="#") Tuyển dụng
                    li.mb-2: a.text-light.text-decoration-none.footer-link(href="#") Tin tức công nghệ

            div.col-lg-3.col-md-6
                h5.text-uppercase.fw-bold.mb-3 Hỗ trợ
                ul.list-unstyled
                    li.mb-2: a.text-light.text-decoration-none.footer-link(href="#") Chính sách đổi trả
                    li.mb-2: a.text-light.text-decoration-none.footer-link(href="#") Hướng dẫn mua trả góp
                    li.mb-2: a.text-light.text-decoration-none.footer-link(href="#") Tra cứu bảo hành

            div.col-lg-3.col-md-6
                h5.text-uppercase.fw-bold.mb-3 Đăng ký nhận tin
                p Nhận ngay mã giảm giá 10% cho đơn hàng đầu tiên!
                div.input-group.mb-3
                    input.form-control(type="text" placeholder="Email của bạn...")
                    button.btn.btn-primary(type="button") Gửi

        hr.my-4.border-secondary

        div.row
            div.col-md-6.text-center.text-md-start
                p.text-muted.small.mb-0 &copy; 2024 36Store. All rights reserved.
            div.col-md-6.text-center.text-md-end
                img(src="https://tinnhiemmang.vn/handle_cert?id=bo-cong-thuong" alt="Bộ công thương" height="30")