header.bg-dark.text-white.p-3
    div.container.d-flex.justify-content-between.align-items-center
        h3.m-0 Test Store
        nav
            a.text-white.text-decoration-none.me-4(href="/") Trang chủ
            a.text-white.text-decoration-none.me-4(href="/products") Sản phẩm
            a.text-white.text-decoration-none(href="/contact") Liên hệ